h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  color: $main;
  font-family: 'Roboto Condensed', sans-serif;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
  transition: opacity 0.95s ease;
}

.background-video {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  .video {
    @media (min-width: 968px) {
      width: 100%;
      height: auto;
      transform: translateX(0);
      display: block;
    }
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}

.bg-main {
  background-color: $main;
}

.vert-line {
  min-width: 4px;
  height: 120vh;
  transform: translateY(15vh);
}

button {
  width: 160px;
  padding: 2px 4px;
  max-height: 75px;
  font-size: 1.4em;
  border-radius: 2px;
  border: 2px solid $main;
  color: $main;
  background-color: $light;
  cursor: pointer;
  &:hover {
    background-color: $main;
    border-color: $light;
    color: $light;
  }
}

.sub-text {
  padding-right: 8vw;
  min-width: 50vw;
  font-size: 2rem;
  padding-top: 10vh;
  @media (min-width: 968px) {
    min-width: 20vw;
    width: 40vw;
    text-align: right;
    padding-right: 7vw;
    font-size: 3rem;
  }
}
.min {
  font-size: 1.2rem;
  padding-top: 10vh;
  @media (min-width: 968px) {
    max-width: 40vw;
    font-size: 2.4rem;
  }
}
