nav {
  width: 100vw;
  height: 23vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 9999;
  padding-left: 2rem;
  .logo {
    width: 135px;
    height: auto;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53vw;
    background: #0a4267;
    padding: 0 1rem;
    text-align: center;
    flex-wrap: wrap;
    transform: translateY(28px);
    @media (min-width: 968px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 44.6vw;
      background: $main;
      padding: 0 2.5rem;
      text-align: center;
      flex-wrap: nowrap;
    }
    a {
      font-family: 'Roboto Condensed', sans-serif;
      color: $light;
      font-size: 1.3rem;
      text-decoration: none;
      width: 25%;
      padding: 10px 5px;
      margin-left:5px;
      transition: all 0.4s ease;
      @media (min-width: 968px) {
        margin-left: none;
        padding: 10px 0;
        font-size: 1.4rem;
      }
      &:hover {
        background: $light;
        color: $main;
      }
    }
  }
}

.svg-icon {
  width: 3em;
  height: 3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $light;
}

.svg-icon circle {
  stroke: $light;
  stroke-width: 1;
  fill: $main;
}